$main-color: #2c79b3;
$main-color-light: #2c79b377;
$secondary-color: #B3662C;
$bg-color: #e3e3e3;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: $bg-color;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

//hero start//

.hero {
    position: relative;
    min-height: 100vh;
    color: white;
    background: $main-color;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/hero-bg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.35;
    }
    &__header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 7.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            padding: 1em 0;
            background-color: $main-color;
            z-index: -1;
            transition: transform 0.5s ease-in-out;
            transform: translateY(-100%);
        }
        &__logo {
            font-size: 3rem;
            font-weight: 300;
        }
        &__nav {
            &__ul {
                display: flex;
                &__item {
                    padding: 1em 1.5em;
                    font-size: 1.7rem;
                    button {
                        border: none;
                        background: none;
                        color: $main-color;
                        font-size: 1.7rem;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &__inner {
        position: relative;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            margin-top: 25rem;
            font-size: 7rem;
            font-weight: bold;
            font-family: 'Dancing Script', cursive;
            text-transform: capitalize;
        }
        h3 {
            font-size: 2.5rem;
            font-weight: 300;
            padding-top: 1em;
        }
    }
}

.btnActive {
    font-weight: bold;
    background: white;
    margin-left: 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.header.sticky:before {
    transform: translateY(0%);
}

.hamburger {
    display: none;
    &__bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

//hero end//

//menu start//

.menu {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: white;
    top: 0;
    left: 0;
    color: black;
    display: grid;
    grid-template-columns: 70% 15% auto;
    opacity: 0;
    transform: translateX(10%) scale(0.9);
    pointer-events: none;
    z-index: 99;
    &__main {
        min-height: 100vh;
        padding: 8em 10em;
        opacity: 0;
        transform: translateX(10%);
        h2 {
            color: $main-color;
            font-size: 6rem;
            margin: 0;
            text-transform: capitalize;
        }
        &__subhead {
            font-size: 2rem;
        }
        &__cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            margin-top: 5em;
            &__item {
                margin: 3em 0;
                padding: 2em;
                box-shadow: 15px 15px 53px rgba(44, 121, 179, 0.3);
                border-radius: 10px;
                strong {
                    padding: 2em 0 0;
                    color: $secondary-color;
                    font-size: 2rem;
                }
                p {
                    padding: 1em 0;
                    font-size: 1.5rem;
                    line-height: 2em;
                }
                &:nth-of-type(2) {
                    margin-left: 2em;
                }
            }
        }
    }
    &__nav {
        padding-top: 10em;
        opacity: 0;
        transform: translateX(10%);
        a {
            font-size: 1.5rem;
            color: black;
            padding: 1.5em 0;
            display: inline-block;
            &:hover {
                color: $main-color;
            }
        }
        &__social {
            margin-top: 2.5em;
            display: flex;
            gap: 1.5em;
            i {
                font-size: 2rem;
            }
        }
    }
    &__close {
        display: grid;
        justify-items: center;
        align-content: start;
        background: $main-color;
        opacity: 0;
        transform: translateX(10%);
        &__item {
            border: none;
            background: none;
            margin-top: 1.5em;
            cursor: pointer;
            font-size: 2.5rem;
            color: white;
        }
    }
}

.cta__main {
    padding: 0.5em 1em;
    border: 1px solid $main-color;
    border-radius: 5px;
    background: $main-color;
    margin-top: 1em;
    display: inline-block;
    color: white;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    &:hover {
        background: white;
        color: $main-color;
    }
}

.cta__secondary {
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 5px;
    background: $main-color-light;
    margin-top: 1em;
    display: inline-block;
    color: $main-color;
    font-size: 1.7rem;
    font-weight: bold;
}

//menu end//

//services start//

.services {
    min-height: 100vh;
    padding: 3rem 0;
    &__inner {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        h2 {
            padding: 0.5em 0;
            font-size: 5rem;
            font-family: 'Dancing Script', cursive;
            text-transform: capitalize;
            color: $secondary-color;
        }
        &__txt {
            padding: 0.5em 0;
            width: 60%;
            margin: 0 auto;
            font-size: 1.7rem;
        }
        &__card {
            width: 80%;
            margin: 0 auto;
            padding: 4em 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-column-gap: 5em;
            align-items: center;
            &__item {
                margin: 2rem 0;
                padding: 3em 0;
                color: white;
                background-color: $main-color;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                &:hover {
                    transform: translateY(-5px);
                }
                img {
                    height: 10rem;
                }
                h3 {
                    padding: 0.5em 0;
                    font-size: 3rem;
                }
                p {
                    width: 70%;
                    margin: 0 auto;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

//servies end//

//destinations start//

.destinations {
    min-height: 100vh;
    padding: 3rem 0;
    &__inner {
        width: 95%;
        margin: 0 auto;
        text-align: center;
        &__top {
            width: 90%;
            margin: 0 auto;
            h2 {
                padding: 0.5em 0;
                font-size: 5rem;
                font-family: 'Dancing Script', cursive;
                text-transform: capitalize;
                color: $secondary-color;
            }
            &__grid {
                padding: 3em 0;
                &__row {
                    padding: 4em 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 3em;
                    align-items: center;
                    justify-items: center;
                    img {
                        width: 80%;
                        height: auto;
                    }
                    &__txt {
                        width: 80%;
                        h3 {
                            font-size: 3.5rem;
                            color: $main-color;
                        }
                        p {
                            padding: 2em 0;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
        &__trending {
            width: 90%;
            margin: 0 auto;
            h2 {
                padding: 0.5em 0;
                font-size: 5rem;
                font-family: 'Dancing Script', cursive;
                text-transform: capitalize;
                color: $secondary-color;
            }
            &__card {
                padding: 4em 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-column-gap: 4em;
                &__item {
                    margin: 2rem 0;
                    border-radius: 5px;
                    background: $main-color;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05);
                    }
                    img {
                        padding: 1em;
                        width: 100%;
                    }
                    h4 {
                        padding: 1em 0;
                        font-size: 2rem;
                        color: white;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

//destinations end//

//partners start//

.partners {
    padding: 3rem 0;
    &__inner {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        h2 {
            padding: 0.5em 0;
            font-size: 5rem;
            font-family: 'Dancing Script', cursive;
            text-transform: capitalize;
            color: $secondary-color;
        }
        &__brands {
            padding: 3rem 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-column-gap: 2rem;
            img {
                width: 80%;
                height: 10rem;
                margin: 3em;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}

//partners end//

//footer start//

.footer {
    color: white;
    background: $main-color;
    &__inner {
        width: 95%;
        margin: 0 auto;
        h2 {
            padding: 4rem 0 2rem;
            font-size: 4rem;
            text-align: center;
        }
        &__grid {
            padding: 1rem 0 3rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            grid-column-gap: 2rem;
            align-items: center;
            justify-items: center;
            text-align: center;
            h3 {
                padding: 0.5em 0;
                font-size: 2.5rem;
            }
            p {
                padding: 0.5em 0;
                font-size: 1.7rem;
                a:hover {
                    border-bottom: 1px solid white;
                }
            }
            &__item {
                padding: 2rem 0;
                &__social {
                    padding-top: 2rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: 2.5rem;
                }
            }
        }
        &__copyright {
            padding: 1.5rem 0 0.5rem;
            border-top: 1px solid white;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

//footer end//

//media queries start//

@media only screen and (max-width:1024px) {
	html {
		font-size: 8px;
	}
}
@media only screen and (max-width:780px) {
	html {
		font-size: 7px;
    }
    .navMenu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: $bg-color;
        width: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        transition: 0.3s ease-in-out;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .navMenu.active {
        left: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .hamburger__bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .hamburger__bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .hero__header {
        padding: 1em 7.5%;
    }
    .hero__header__nav__ul__item {
        color: $main-color;
    }
    .btnActive {
        margin: 0;
        background: $bg-color;
    }
    .menu {
        display: grid;
        grid-template-columns: 60% 30% auto;
        &__main {
            padding: 4em 3em;
        }
        &__nav {
            padding-top: 6em;
        }
    }
    .services__inner__txt {
        width: 80%;
        margin: 0 auto;
    }
    .destinations__inner__top__grid__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 100%;
        }
        &__txt {
            width: 90%;
            margin: 0 auto;
            h3 {
                padding: 1em 0 0;
            }
            p {
                padding: 2em 0;
            }
        }
    }
    .destinations__inner__top__grid__row-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .destinations__inner__trending {
        width: 80%;
        margin: 0 auto;
    }
}        

//media queries end//